article {
  margin: 2rem 14.8rem;
  border-radius: 5px;

  box-shadow: 13px 14px 31px -16px #0000001a;
  transition: 0.3s;
  header {
    padding: 2rem;
    display: flex;
    background-color: rgb(205, 205, 205);
    h1 {
      margin-left: 1rem;
      font-size: 32px;
      span {
        font-size: 16px;
      }
    }
    img {
      width: 8rem;
      height: 10rem;
      border-radius: 5px;
    }
  }
  p {
    border: 0.1px solid #c7c7c7;
    padding: 2rem;
  }
}
article:hover {
  box-shadow: 13px 14px 31px -16px #0000005e;
}
