header {
  background-color: #457b9d;
  height: 10rem;
  padding: 0 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h1 {
    font-size: 40px;
    color: #f1faee;
    display: flex;
    justify-content: space-between;
    -webkit-animation: tracking-in-expand 0.7s
      cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* queries */

@media screen and (max-width: 900px) {
  .Header {
    padding: 0 8rem;
  }
}
@media screen and (max-width: 610px) {
  .Header {
    padding: 2rem;
  }
}
@media screen and (max-width: 380px) {
  .Header {
    padding: 0.8rem;
  }
}
@media screen and (max-width: 320px) {
  .Header {
    padding: 0.5rem;
  }
}
